

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.widget {
  z-index: 4;
  background: white;
  position: absolute;
  bottom: 1em;
  right: 2em;
  border-radius: 0.5em 0.5em 0 0;
  height: 60%;
  width: 30%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

// And Design
.message {
  background-color: #1890ff !important;
  color: white !important;
  border-radius: 5px !important;
  cursor: default !important;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="widget"] {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
  }
}